<div class="d-none d-md-block">
  <app-desktopnav></app-desktopnav>
</div>
<div class="d-block d-md-none">
  <app-othenav title="Reset Password" [showback]="true"></app-othenav>
</div>

<div class="main">
  <div class="top d-none d-md-block">
    <div class="title">Reset Password</div>
  </div>
  <div class="row justify-content-md-center laptop" style="height: 200px;">
    <div class="col-lg-4 col-12 cart-body">
        <div class="form-group mt-4" >
          <label for="number">Enter Registerd Number</label>
          <input type="text" class="form-control" [(ngModel)]="phone" placeholder="Enter Number">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="code()">Send Reset Code</button>
        </div>
    </div>
  </div>
</div>
<div class="d-none d-md-block">
  <app-desktopfoot></app-desktopfoot>
</div>
