<div class="bb" (scroll)="scroll($event)">
  <div class="d-none d-md-block">
    <app-desktopnav ></app-desktopnav>
  </div>
  <div class="d-block d-md-none">
    <app-othenav title="My Cart"></app-othenav>
  </div>
  <div class="main">
    <div class="top d-none d-md-block">
      <div class="title">Shopping Cart</div>
    </div>
    <div class="row laptop">
      <div class="col-lg-8 cart-body">
        <div *ngFor="let item of this.cartservice.items">
          <app-cartitem [cart]="item" (changed)="changed($event)" (deleted)="delete($event)"></app-cartitem>
        </div>
      </div>

      <div class="col-lg-4 cart-foot" *ngIf="this.cartservice.items.length>0">

        <div class="shadow checkout">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-2">
            Total Amount
            <span> <strong>
              Rs {{this.cartservice.total}}
            </strong> </span>
          </li>
          <button type="button" class="btn btn-primary btn-block waves-effect waves-light" [routerLink]="['/checkout']" routerLinkActive="router-link-active" >go to
            checkout</button>
        </div>
      </div>
    </div>

  </div>
  <app-mobilefoot></app-mobilefoot>
</div>
