.card{
  border:none;
  box-shadow: 2px 2px 10px 0 #00000038;
  .card-img-top{

    cursor: pointer;
    outline: transparent  !important;
  }
  .card-body{
    padding:0.5rem;
    cursor: pointer;
    outline: transparent  !important;
    .name{
      font-weight:600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
    .price{
      font-size:0.9rem;
      font-weight:600;
      margin:0px;
      .new{
        color:red;
      }
      .old{
        color:gray;
        text-decoration: line-through;
      }
    }
  }
  .product-favourite{
    position: absolute;
    top:10px;
    right:10px;
    color:black;
    background: white;
    padding:5px;
    border-radius: 50%;

    &.liked{
      background: rgb(75, 70, 70);
      color:white;
    }
  }
}

@media(min-width:768){
  .card{
    &.shadow-sm{
      box-shadow: 1px 1px 4px 0px #0000009f;
    }
    .card-body{
      padding:0.5rem;
      .name{
        font-weight:600;
        font-size:0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
      .price{
        font-size:0.87rem;
        font-weight:600;
        margin:0px;
        .new{
          color:red;
        }
        .old{
          color:gray;
          text-decoration: line-through;
        }
      }
    }
  }
}
