<div class="row text-center">
  <div class="col-6 col-lg-3 mb-3">
    <div class="outline">
        <div class="count">4</div>
        <div class="title">Pending Order</div>
    </div>
  </div>

  <div class="col-6 col-lg-3 mb-3">
    <div class="outline">
        <div class="count">4</div>
        <div class="title">Accepted Order</div>
    </div>
  </div>

  <div class="col-6 col-lg-3 mb-3">
    <div class="outline">
        <div class="count">1</div>
        <div class="title">Delievered Order</div>
    </div>
  </div>

  <div class="col-6 col-lg-3 mb-3">
    <div class="outline">
        <div class="count">2</div>
        <div class="title">Canceled Order</div>
    </div>
  </div>
</div>
